body {
  background-image: url('https://i.imgur.com/DJ6jiB4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2B2A28;
}

.App {
  text-align: center;
  color: white;
  margin-bottom: 150px;
}

.title {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

.search-container {
  margin: auto;
  padding: 10px;
}

input {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  color: pink;
}

input:hover, input:focus {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

.search {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  height: 25px;
  margin-left: 10px;
  font-size: 20px;
  color: pink;
}

.search:hover {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.case, .keycap, .switch, .build {
  background-image: var(--my-image);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  border-radius: 50px;
  height: 250px;
  width: 200px;
  padding: 20px;
}

.build-card, .case-card, .keycap-card, .switch-card {
  font-size: 80%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  margin: auto;
}

a {
  text-decoration: none;
}


.highlighter {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ),
  var(--hover-image);
}


.case:hover, .keycap:hover, .switch:hover, .build:hover {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ),
  var(--hover-image);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.popup-container {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.popup {
  border-radius: 50px;
}

.item-name:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

