body {
  /* background-image: url('https://i.imgur.com/DJ6jiB4.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2B2A28;
}

.App {
  text-align: center;
  color: white;
  margin-bottom: 150px;
}

.title {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

ul, li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.build, .case, .keycap, .switch {
  border: 1px solid black;
  padding: 5px;
  height: 250px;
  width: 200px;
  position: inherit;
}

.build-card, .case-card, .keycap-card, .switch-card {
  padding: 5px;
  font-size: 80%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

a {
  text-decoration: none;
}


.preview-card {
  padding-left: 10px;
  padding-right: 10px;
}

#select:hover, #select:focus {
  background-color: darkslategray;
}

.highlighter {
  background-color: red;
}

.case, .keycap, .switch {
  background-image: var(--my-image);
  background-size: cover;
}

.case:hover, .keycap:hover, .switch:hover {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ),
  var(--hover-image);
}

