@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@300&display=swap');


body {
  background-image: url('https://i.imgur.com/5bFAIXD.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #353f4b;
}

/* Mimics a mousedown pointer event for a clickable switch bg */
body:active:hover {
  background-image: url('https://i.imgur.com/xNf9k4v.png');
}

.App {
  text-align: center;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.title {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Fredoka One', cursive;
}

.logo {
  font-size: 90px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(35, 42, 49, 0.75);
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  border-bottom: 1px solid #4c596a;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: 'Fredoka One', cursive;
}

h1 {
  font-family: 'Fredoka One', cursive;
}

.search-container {
  margin: auto;
  padding: 10px;
}

input {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
  border: 1px solid #4c596a;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

input:hover, input:focus {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

.search {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #4c596a;
  border-radius: 10px;
  height: 25px;
  margin-left: 10px;
  font-size: 20px;
  color: #ef4c81;
}

.search:hover {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(10px);
  border: 1px solid #4c596a;
  
}

.case, .keycap, .switch {
  background-image: var(--my-image);
  background-size: cover;
  background-position: center;
  border: 1px solid #4c596a;
  border-radius: 50px;
  height: 220px;
  width: 220px;
  padding: 20px;
}

/* Heavy text shadow since it's hard to read on light backgrounds */
.case-card, .keycap-card, .switch-card {
  font-size: 80%;
  text-shadow: 2px 2px 0px  #232a31, -2px -2px 0px  #232a31, 2px -2px 0px  #232a31, -2px 2px 0px  #232a31;
  border-radius: 50px;
  margin: auto;
}

.item-name {
  backdrop-filter: blur(2px);
  font-family: 'Fredoka One', cursive;
}

.item-name:hover {
  color: white;
  text-shadow: 0 0 10px rgba(239, 76, 129,1) , 0 0 20px rgba(239, 76, 129,1)
}

.build {
  background-image: var(--my-image);
  background-size: cover;
  background-position: center;
  border: 1px solid #4c596a;
  border-radius: 50px;
  height: 220px;
  width: 220px;
  padding: 20px;
  position: relative;
}

/* Styled so it would be superimposed on top of build div - prevents the highlight effect from overlapping */
.build-card {
  font-size: 80%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  border-radius: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  backdrop-filter: blur(2px);
}

.build-name {
  font-family: 'Fredoka One', cursive;
}

.button-wrapper {
  padding: 20px;
  text-align: center;
  align-items: center;
}

.edit-builds {
  border-radius: 10px;
  border: 1px solid #4c596a;
  background-color: rgba(35, 42, 49, 0.75);
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

.edit-builds:hover {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

.preview {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(35, 42, 49, 0.75);
  width: 300px;
  height: 100px;
  border: 1px solid #4c596a;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
}

.preview-title {
  margin-top: 0%;
  float: right;
  width: 25%;
}

.preview-item {
  font-size: 80%
}

.info {
  opacity:0;
}

/* Shows part detail on hover */
.info:hover {
  opacity:1;
  -webkit-transition: opacity .25s ease-in-out .0s;
  transition: opacity .25s ease-in-out .0s;
}

a {
  text-decoration: none;
}

.id-button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ef4c81;
}

.id-button:hover {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
}

/* Changes the background to a darkened version for ease of reading the part detail */
.highlighter {
  background-image: 
  linear-gradient(
    rgba(35, 42, 49, 0.75),
    rgba(35, 42, 49, 0.75)
    ),
    var(--hover-image);
    background-size: cover;
    box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1)
  }
  
  
  /* Originally opted for a blur effect, but it blurred the contents too. Just applies the highlight effect from above on hover */
.case:hover, .keycap:hover, .switch:hover, .build:hover {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ),
  var(--hover-image);
}

/* Darkens the page on image popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.popup-container {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.popup {
  border-radius: 50px;
}


