body {
  /* background-image: url('https://i.imgur.com/DJ6jiB4.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2B2A28;
}

.App {
  text-align: center;
  color: white;
  margin-bottom: 150px;
}

.title {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

ul, li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border: 1px solid black;
}


a {
  text-decoration: none;
}

.preview {
  background-color: black;
  display: block;
  position:fixed;
  width: 100%;
  height: 150px;
  bottom: 0px;

}

.preview-pane {
  display: flex;
  justify-content: center;
}

.preview-card {
  padding-left: 10px;
  padding-right: 10px;
}